<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Wat Time</title>
    <!-- <link href="../favicon.ico" rel="icon" type="image/x-icon" /> -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/style.css">
</head>


<body class="container">
    <p class="test">The current time is:
        <span id="time"></span>
        <span id="time-location"></span>
    </p>
    <button id="time-btn" class="btn btn-secondary"><span id="newtextcolor">Get current time</span></button>
</body>


<script src="/main.js"></script>
</html>